<?xml version="1.0"?>
<launch>
	<rosparam command="load" file="$(find struct_core_ros)/launch/sc.yaml"/>
	<node pkg="struct_core_ros" type="sc" name="camera" output="screen"/>
	
	<!-- node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 1.57 0 map camera_link 100"/ >-->
	<node pkg="tf" type="static_transform_publisher" name="link_CL2DF" args="0 0 0 0 0 0 camera_link camera_depth_frame 100"/>	
	<node pkg="tf" type="static_transform_publisher" name="link_DF2DOF" args="0 0 0 0 0 0 camera_depth_frame camera_depth_optical_frame 100"/>
	<node pkg="tf" type="static_transform_publisher" name="link_CL2RGBF" args="0 0 0 0 0 0 camera_link camera_visual_frame 100"/>


	<!--group ns="/camera/visible">
	<rosparam param="disable_pub_plugins"> -'image_transport/compressedDepth' - 'image_transport/theora' </rosparam>
	</group>
	<group ns="/camera/depth">
	<rosparam param="disable_pub_plugins"> -'image_transport/compressedDepth' - 'image_transport/theora' </rosparam>
	</group-->

</launch>

